[Unit]
Description=Odoo 11 Main instance
Documentation=http://www.odoo.com/

[Service]
# Ubuntu/Debian convention:
Type=simple
User=odoo
ExecStart=/opt/odoo/odoo-server11/odoo-bin -c /etc/odoo/odoo-server11-1.conf

[Install]
WantedBy=default.target
